
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-body"><!-- Knowledge base Jumbotron -->
<section id="knowledge-base-search">
<div class="row">
  <div class="col-12">
    <div class="card knowledge-base-bg text-center" style="background-image: url('../../../../assets/images/pages/graphic-6.png')">
      <div class="card-body">
        <h2 class="text-primary">Browse Projects according to their type</h2>
        <p class="card-text mb-2">
          <span>Popular searches: </span><span class="fw-bolder">Web Application, E-Commerce</span>
        </p>
        <form class="kb-search-input">
          <div class="input-group input-group-merge">
            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
            <input type="text" class="form-control" id="searchbar" placeholder="Ask a question...">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
<!--/ Knowledge base Jumbotron -->

<!-- Knowledge base -->
<section id="knowledge-base-content">
<div class="row kb-search-content-info match-height">
  <!-- sales card -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="WebApplication()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/webapplication.png" class="card-img-top" alt="knowledge-base-image">

        <div class="card-body text-center">
          <h4>Web Application</h4>
          <p class="text-body mt-1 mb-0">
            There is perhaps no better demonstration of the folly of image of our tiny world.
          </p>
        </div>
      </a>
    </div>
  </div>

  <!-- marketing -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="CrossPlatform()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/Crossplatform.png" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>CrossPlatform</h4>
          <p class="text-body mt-1 mb-0">
            Look again at that dot. That’s here. That’s home. That’s us. On it everyone you love.
          </p>
        </div>
      </a>
    </div>
  </div>

  <!-- api -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="SiteVitrine()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/sitevitrine.jpg" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>Site Vitrine</h4>
          <p class="text-body mt-1 mb-0">every hero and coward, every creator and destroyer of civilization.</p>
        </div>
      </a>
    </div>
  </div>

  <!-- personalization -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="MobileApplication()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/Mobileapp.png" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>Mobile Application</h4>
          <p class="text-body mt-1 mb-0">It has been said that astronomy is a humbling and character experience.</p>
        </div>
      </a>
    </div>
  </div>

  <!-- email -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="ECommerce()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/E-Commerce.jpg" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>E-Commerce</h4>
          <p class="text-body mt-1 mb-0">There is perhaps no better demonstration of the folly of human conceits.</p>
        </div>
      </a>
    </div>
  </div>

  <!-- demand -->
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="ReseauxSociaux()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/socialmedia.jpg" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>Reseaux Sociaux</h4>
          <p class="text-body mt-1 mb-0">Competent means we will never take anything for granted.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 kb-search-content">
    <div >
      
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 kb-search-content" (click)="DesignGraphique()">
    <div class="card">
      <a >
        <img src="../../../../assets/images/pages/GraphicDesign.jpg" class="card-img-top" alt="knowledge-base-image">
        <div class="card-body text-center">
          <h4>Design Graphique</h4>
          <p class="text-body mt-1 mb-0">Competent means we will never take anything for granted.</p>
        </div>
      </a>
    </div>
  </div>

  <!-- no result -->
</div>
</section>
<!-- Knowledge base ends -->

      </div>
    </div>