<!-- Right Sidebar -->
<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <button
    (click)="closeSidebar()"
    type="button"
    class="close font-large-1 font-weight-normal py-0"
    data-dismiss="modal"
    aria-label="Close"
  >
    ×
  </button>
    
    <ul class="nav nav-tabs tabs-line">
      <li class="nav-item"  (click)="showAjouter()">
        <a class="nav-link nav-link-update active" data-bs-toggle="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
          <span class="align-middle">Ajouter</span>
        </a>
      </li>
      <li class="nav-item" (click)="showCommentaire()">
        <a class="nav-link nav-link-activity" data-bs-toggle="tab" >
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
          <span class="align-middle">Commentaires</span>
        </a>
      </li>
    <div></div></ul>
    <form
      id="form-modal-todo"
      class="todo-modal needs-validation" 
      (ngSubmit)="(todoForm.form.valid)"
      #todoForm="ngForm"
      *ngIf="ajouter"
    >
    <div class="modal-header align-items-center mb-1">
      <h5 class="modal-title">Ajouter Tache</h5>
      <div class="todo-item-action d-flex align-items-center justify-content-between ml-auto">
       
      </div>
    </div>
      <div class="modal-body flex-grow-1 pb-sm-0 pb-3" >
        <div class="action-tags">
          <div class="form-group">
            <label for="todoTitleAdd" class="form-label">Title</label>
            <input
              type="text"
              id="todoTitleAdd"
              name="addTitle"
              class="new-todo-item-title form-control"
              [class.error]="todoForm.submitted && TDNameRef.invalid"
              placeholder="Title"
              [(ngModel)]="todo.title"
              #TDNameRef="ngModel"
              required
            />
            <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <label for="tododateAdd" class="form-label">Date Creation</label>
            <input
              type="date"
              id="tododateAdd"
              name="adddate"
              class="new-todo-item-title form-control"
              [(ngModel)]="todo.title"
              required
            />
            <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <label for="tododeadlineAdd" class="form-label">Deadline</label>
            <input
              type="date"
              id="tododeadlineAdd"
              name="adddeadline"
              class="new-todo-item-title form-control"
              [(ngModel)]="todo.title"
              required
            />
            <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <label for="todoCommentaire" class="form-label">Commentaire</label>
            <textarea
              id="todoCommentaire"
              name="addcommentaire"
              class="new-todo-item-title form-control"
              [(ngModel)]="todo.title"
              required
              rows="3"
            ></textarea>
            <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <label for="todoDescription" class="form-label">Description</label>
            <textarea
              id="todoDescription"
              name="addDescription"
              class="new-todo-item-title form-control"
              [(ngModel)]="todo.title"
              required
              rows="4"
            ></textarea>
            <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="todoImage" class="form-label">Image</label>
          <input
            type="file"
            id="todoImage"
            name="addImage"
            class="new-todo-item-title form-control"
            [(ngModel)]="todo.title"
            required
            rows="3"
          >
          <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
          </span>
        </div>
        <div class="form-group">
          <label for="todoFile" class="form-label">File</label>
          <input
            type="file"
            id="todoFile"
            name="addFile"
            class="new-todo-item-title form-control"
            [(ngModel)]="todo.title"
            required
            rows="3"
          >
          <span *ngIf="todoForm.submitted && TDNameRef.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
          </span>
        </div>
        <div class="form-group my-1">
          <button
            type="submit"
            class="btn btn-primary add-todo-item mr-1"
            *ngIf="isDataEmpty === true"
            (click)="addTodo(todoForm)"
            rippleEffect
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-primary update-btn update-todo-item mr-1"
            *ngIf="isDataEmpty === false"
            (click)="updateTodo()"
            rippleEffect
          >
            Update
          </button>
          <button
            class="btn btn-outline-secondary add-todo-item"
            type="button"
            (click)="closeSidebar()"
            data-dismiss="modal"
            rippleEffect
          >
            Close
          </button>
        </div>
      </div>
    </form>
    <!-- Commentaire-->
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3" *ngIf="commentaire">
      <div class="action-tags">
        <div class="d-flex align-items-start mb-1">
          <div class="avatar bg-light-success my-0 ms-0 me-50">
            <span class="avatar-content">HJ</span>
          </div>
          <div class="more-info">
            <p class="mb-0"><span class="fw-bold">Jordan</span> Left the board.</p>
            <small class="text-muted">Today 11:00 AM</small>
          </div>
        </div> 
        <div class="d-flex align-items-start mb-1">
          <div class="avatar my-0 ms-0 me-50">
            <img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="32">
          </div>
          <div class="more-info">
            <p class="mb-0">
              <span class="fw-bold">Dianna</span> mentioned <span class="fw-bold text-primary">@bruce</span> in a
              comment.
            </p>
            <small class="text-muted">Today 10:20 AM</small>
          </div>
        </div>
        <div class="d-flex align-items-start mb-1">
          <div class="avatar my-0 ms-0 me-50">
            <img src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="Avatar" height="32">
          </div>
          <div class="more-info">
            <p class="mb-0"><span class="fw-bold">Barry</span> Commented on App review task.</p>
            <small class="text-muted">Today 8:32 AM</small>
          </div>
        </div>
        <form>
          <div class="form-group">
            <textarea
              id="commentaire"
              name="commentaire"
              class="new-todo-item-title form-control"
              [(ngModel)]="commentaire.title"
              required
              rows="1"
              placeholder="Add a comment..."
            ></textarea>
            <span *ngIf="commentaireForm.submitted && TDNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          
        </form>
      <div class="form-group my-1">
        <button
          class="btn btn-outline-danger add-todo-item"
          type="button"
          (click)="closeSidebar()"
          data-dismiss="modal"
          rippleEffect
        >
          Ajouter Commentaire
        </button>
      </div>
    </div>
  </div>
  <!--Sous Taches-->

</div>
</div>
<!--/ Right Sidebar -->
