{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
        <div class="container">
            <div class="section-wrapper text-center text-uppercase">
                <h2 class="pageheader-title">Tournament Some Stats </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('app_gameFJoin') }}" >Back</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Stats</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <div class="container">
        <h2> Statistique</h2>
        <canvas id="ReservationExcursion" width="400" height="100"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>


    <div class="col-lg-50">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Statistique</strong>
            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table  table-hover table-bordered">

                    </table>
                    <table class="table  table-hover table-bordered">

                        <thead class="badge-info">
                        </tbody>
                    </table>

                </div>

                <div class="container">
                    <div class="Statistique">


                        <style>
                            .example-wrapper { margin: 1em auto; max-width: 50%; width: 50%; font: 20px/1.5 sans-serif; }
                            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
                        </style>
                        <H1>Quantité du Stock</H1>

                        <div class="example-wrapper">
                            <canvas id="chart"   width="80" height="80" ></canvas>

                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
                        <script>

                            const image = new Image();
                            image.src = 'https://www.chartjs.org/img/chartjs-logo.svg';

                            const plugin = {
                                id: 'custom_canvas_background_image',
                                beforeDraw: (chart) => {
                                    if (image.complete) {
                                        const ctx = chart.ctx;
                                        const {top, left, width, height} = chart.chartArea;
                                        const x = left + width / 2 - image.width / 2;
                                        const y = top + height / 2 - image.height / 2;
                                        ctx.drawImage(image, x, y);
                                    } else {
                                        image.onload = () => chart.draw();
                                    }
                                }
                            };
                            let user = document.querySelector("#chart")
                            let annGraph = new Chart(user, {
                                type: "",
                                plugins: [plugin],
                                data: {
                                    labels: {{ NomP|raw }},
                                    datasets: [{
                                        label: "nom du Poule",
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderWidth: 1,

                                        borderColor : 'rgb(30,144,255)',
                                        fill: false,
                                        tension: 0.1,
                                        data: {{ NomT|raw }}
                                    }]
                                },
                                options: {
                                    animations: {
                                        tension: {
                                            duration: 1000,
                                            easing: 'linear',
                                            from: 1,
                                            to: 0,
                                            loop: true
                                        }
                                    },
                                    scales: {

                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true

                                            }


                                        }]

                                    }
                                }
                            })
                        </script>

{% endblock %}