{% extends 'base.html.twig' %}
{% block body %}
<body>
<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
<!-- scrollToTop ending here -->

<!-- ==========shape image Starts Here========== -->
<div class="body-shape">
    <img src="assets/images/shape/body-shape.png" alt="shape">
</div>
<!-- ==========shape image end Here========== -->







<!-- ===========Banner Section start Here========== -->
<section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
    <div class="container">
        <div class="section-wrapper text-center text-uppercase">
            <div class="pageheader-thumb mb-4">
                <img src="assets/images/team/1.png" alt="team">
            </div>
            <h2 class="pageheader-title">Dragon Details</h2>
        </div>
    </div>
</section>
<!-- ===========Banner Section Ends Here========== -->

<div class="about-team padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <p>DOTA 01</p>
            <h2 class="mb-3">ABOUT THE TEAM</h2>
            <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam nisi earum, tempore tempora, dolores fugit voluptates aliquam sit aspernatur officia dicta, nostrum ipsam ipsa odio? Accusamus nulla itaque, tempore autem sunt blanditiis amet iure ipsa nemo ullam nihil, dicta quod fuga omnis quibusdam. Ea, autem sequi et aliquam cupiditate illum? Nemo, quis! Fugit illum, libero esse eaque placeat</p>
        </div>
        <ul class="d-flex flex-wrap justify-content-center player-meta mb-0">
            <li class="d-flex align-items-center">
                <span class="left me-3"><i class="icofont-medal"></i></span>
                <span class="right"> 15 WINS </span>
            </li>
            <li class="d-flex align-items-center">
                <span class="left me-3"><i class="icofont-signal"></i></span>
                <span class="right">04 LOSES</span>
            </li>
            <li class="d-flex align-items-center">
                <span class="left me-3"><i class="icofont-game"></i></span>
                <span class="right">05 DRAWS</span>
            </li>
            <li class="d-flex align-items-center">
                <span class="left me-3"><i class="icofont-workers-group"></i></span>
                <span class="right">02 PLAYS</span>
            </li>
        </ul>
    </div>
</div>

<!-- ===========Player  Section start Here========== -->
<div class="player-section padding-top padding-bottom bg-attachment" style="background-image:url(assets/images/video/bg.jpg)">
    <div class="container">
        <div class="section-header">
            <h2>TEAM Members</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/05.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">Guadalupe R. Johnson</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/01.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">Amado R. Martin</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/02.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">Kyle S. Stelly</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/03.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">John T. Toney</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/04.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">Charles S. Elliott</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="player-item">
                        <div class="player-inner">
                            <div class="player-thumb">
                                <img src="assets/images/player/06.jpg" alt="player-img">
                            </div>
                            <div class="player-content text-center">
                                <div class="player-info-list">
                                    <h3 class="mb-0">Claude M. Vasquez</h3>
                                </div>
                                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center w-100">
                                    <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                    <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===========Player  Section Ends Here========== -->















</body>
{% endblock %}