<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
  
      <!-- Basic Horizontal form layout section start -->
      <section id="basic-horizontal-layouts">
        <div class="row match-height">
          <div class="col-md-4 col-12">
            
              <h4 class="card-title">Ajouter Project</h4>
  
              <div class="card-body">
                <form class="form form-horizontal">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                          <label for="first-name">Name</label>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" id="first-name" class="form-control" name="fname" placeholder="Project Name" />
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                          <label for="email-id">Date Creation</label>
                        </div>
                        <div class="col-sm-9">
                          <input type="date" id="email-id" class="form-control" name="email-id" placeholder="Date Creation" />
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                          <label for="contact-info">DeadLine</label>
                        </div>
                        <div class="col-sm-9">
                          <input
                            type="date"
                            id="contact-info"
                            class="form-control"
                            name="contact"
                            placeholder="DeadLine"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                          <label for="password">Description</label>
                        </div>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="exampleTextarea" rows="13" placeholder="Project Description">

                          </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 offset-sm-3">
                      <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
                      <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
           
          </div>
          <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
              <img
                class="img-fluid"
                src="assets/images/pages/AjouterProject.jpg"
                alt="Login V2"
              />
            </div>
          </div>
        </div>
    </section>
         