<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->

    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
      <div class="row match-height">
        <div class="col-md-6 col-12">
          <ng-container #modals *ngTemplateOutlet="mymodal"> </ng-container>
        </div>
        <div class="d-none d-lg-flex col-lg-6 align-items-center p-5">
          <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
            <img class="img-fluid" src="assets/images/pages/AjouterProject.jpg" alt="Login V2" />
          </div>
        </div>
      </div>

    </section>
    <ng-template #mymodal class="modal-dialog ">

      <div class="container">
        <div id="plizman" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step active" data-target="#ProjectName" >
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-package font-medium-3">
                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">ProjectName</span>
                  <span class="bs-stepper-subtitle">Enter Name</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-1">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-package font-medium-3">
                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Type Projet</span>
                  <span class="bs-stepper-subtitle">Enter Information</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-package font-medium-3">
                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Frameworks</span>
                  <span class="bs-stepper-subtitle">Enter Information</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-command font-medium-3">
                    <path
                      d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z">
                    </path>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Database</span>
                  <span class="bs-stepper-subtitle">Payment details</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-4">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card font-medium-3">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Description</span>
                  <span class="bs-stepper-subtitle">Enter information</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#deadline">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card font-medium-3">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Deadline</span>
                  <span class="bs-stepper-subtitle">Date</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#DateCreation">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card font-medium-3">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">DateCreation</span>
                  <span class="bs-stepper-subtitle">Date</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#Etat">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card font-medium-3">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Etat</span>
                  <span class="bs-stepper-subtitle">Enter information</span>
                </span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-5">
              <button type="button" class="step-trigger py-75" aria-selected="false">
                <span class="bs-stepper-box">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-check font-medium-3">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>
                </span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Submit</span>
                  <span class="bs-stepper-subtitle">Submit your app</span>
                </span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <form (ngSubmit)="AjouterProject()">
              <div id="ProjectName" class="content text-center">
                <div id="create-app-ProjectName" class="content text-center dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-submit-trigger">
                  <h3>Project Name 🥳</h3>
                  <p>Choose a name for your project .</p>
                  <img src="assets/images/pages/ProjectName.jpg" alt="illustration" height="218">
                  <div class="d-flex justify-content-between mt-3">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Project Name" required [(ngModel)]="project.ProjectName">
                    </div>

                    <div class="form-group">

                      <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                        (click)="next()">
                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="test-l-1" class="content dstepper-block ">

                <h5 class="mt-2 pt-1">Category</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-0 px-0" >
                    <label for="createAppCrm" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-info me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-briefcase font-medium-5">
                          <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                          <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </svg>
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">CRM Application</span>
                          <span>Scales with Any Business</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppCrm" type="radio" name="categoryRadio" [(ngModel)]="project.Type">
                        </span>
                      </span>
                    </label>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppEcommerce" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-shopping-cart font-medium-5">
                          <circle cx="9" cy="21" r="1"></circle>
                          <circle cx="20" cy="21" r="1"></circle>
                          <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg>
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">Ecommerce Platforms</span>
                          <span>Grow Your Business With App</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppEcommerce" type="radio" name="categoryRadio" [(ngModel)]="project.Type"
                            checked="">
                        </span>
                      </span>
                    </label>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppOnlineLearning" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-danger me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-award font-medium-5">
                          <circle cx="12" cy="8" r="7"></circle>
                          <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                        </svg>
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">Online Learning platform</span>
                          <span>Start learning today</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppOnlineLearning" type="radio"  [(ngModel)]="project.Type"
                            name="categoryRadio">
                        </span>
                      </span>
                    </label>
                  </li>
                </ul>
                <div class="d-flex justify-content-between mt-2">
                  <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light" (click)="previous()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-left align-middle me-sm-25 me-0">
                      <line x1="19" y1="12" x2="5" y2="12"></line>
                      <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                    (click)="next()">
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </button>
                </div>
              </div>
              <div id="test-l-2" class="content dstepper-block">
                <h5>Select Framework</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppReactNative" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-info me-1">
                        <img src="../../../../assets/images/icons/technologies/react.png" alt="react" height="25">
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">React Native</span>
                          <span>Create truly native apps</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppReactNative" type="radio" name="frameworkRadio" [(ngModel)]="project.Framework">
                        </span>
                      </span>
                    </label>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppAngular" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-danger me-1">
                        <img src="../../../../assets/images/icons/technologies/angular.png" alt="angular" height="25">
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">Angular</span>
                          <span>Most suited to your application</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppAngular" type="radio" name="frameworkRadio" [(ngModel)]="project.Framework"
                            checked="">
                        </span>
                      </span>
                    </label>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppVue" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-success me-1">
                        <img src="../../../../assets/images/icons/technologies/vue.png" alt="vue" height="25">
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">Vue</span>
                          <span>Progressive framework.</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppVue" type="radio" name="frameworkRadio" [(ngModel)]="project.Framework">
                        </span>
                      </span>
                    </label>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <label for="createAppLaravel" class="d-flex cursor-pointer">
                      <span class="avatar avatar-tag bg-light-warning me-1">
                        <img src="../../../../assets/images/icons/technologies/laravel.png" alt="laravel" height="25">
                      </span>
                      <span class="d-flex align-items-center justify-content-between flex-grow-1">
                        <span class="me-1">
                          <span class="h5 d-block fw-bolder">Laravel</span>
                          <span>PHP web framework</span>
                        </span>
                        <span>
                          <input class="form-check-input" id="createAppLaravel" type="radio" name="frameworkRadio" [(ngModel)]="project.Framework">
                        </span>
                      </span>
                    </label>
                  </li>
                </ul>
                <div class="d-flex justify-content-between mt-2">
                  <button type="button" class="btn btn-primary btn-prev waves-effect waves-float waves-light"
                    (click)="previous()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-left align-middle me-sm-25 me-0">
                      <line x1="19" y1="12" x2="5" y2="12"></line>
                      <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                    (click)="next()">
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </button>
                </div>
              </div>
              <div id="test-l-3" class="content text-center">
                <div id="create-app-database" class="content dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-database-trigger">
                  <h5 class="mt-2 pt-1">Select Database Engine</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppFirebase" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-danger me-1">
                          <img src="../../../../assets/images/icons/technologies/google.png" alt="google" height="25">
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">Firebase</span>
                            <span>Cloud Firestore</span>
                          </span>
                          <span>
                            <input class="form-check-input" id="createAppFirebase" type="radio" name="databaseRadio" [(ngModel)]="project.Database">
                          </span>
                        </span>
                      </label>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppDynamoDB" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-secondary me-1">
                          <img src="../../../../assets/images/icons/technologies/amazon.png" alt="amazon" height="25">
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">DynamoDB</span>
                            <span>Amazon Fast NoSQL Database</span>
                          </span>
                          <span>
                            <input class="form-check-input" id="createAppDynamoDB" type="radio" name="databaseRadio"[(ngModel)]="project.Database"
                              checked="">
                          </span>
                        </span>
                      </label>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppMysql" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-info me-1">
                          <img src="../../../../assets/images/icons/technologies/database.png" alt="database"
                            height="25">
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">MySQL</span>
                            <span>Basic MySQL database</span>
                          </span>
                          <span>
                            <input class="form-check-input" id="createAppMysql" type="radio" name="databaseRadio" [(ngModel)]="project.Database">
                          </span>
                        </span>
                      </label>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between mt-2">
                    <button type="button" class="btn btn-primary btn-prev waves-effect waves-float waves-light"
                      (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                      (click)="next()">
                      <span class="align-middle d-sm-inline-block d-none">Next</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div id="test-l-4" class="content text-center">
                <div id="create-app-billing" class="content dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-billing-trigger">
                  <h5 class="mb-1">Description</h5>
                  
                  <img src="assets/images/pages/ProjectDetails.jpg" alt="illustration" height="218">
                  <textarea class="form-control" name="description" rows="8" placeholder="Enter description" required [(ngModel)]="project.description"></textarea>

                  <div class="d-flex justify-content-between mt-5 pt-1">
                    <button type="button" class="btn btn-primary btn-prev waves-effect waves-float waves-light"
                      (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                      (click)="next()">
                      <span class="align-middle d-sm-inline-block d-none">Next</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div id="test-l-5" class="content text-center">
                <div id="create-app-submit" class="content text-center dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-submit-trigger">
                  <h3>Submit 🥳</h3>
                  <p>Submit your app to kickstart your project.</p>
                  <img src="assets/images/pages/All.jpg" alt="illustration" height="218">
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary btn-prev waves-effect waves-float waves-light" (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button class="btn btn-success btn-submit waves-effect waves-float waves-light">
                      <span class="align-middle d-sm-inline-block d-none">Submit</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-check align-middle ms-sm-25 ms-0">
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div id="DateCreation" class="content text-center">
                <div id="create-app-datecreation" class="content text-center dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-submit-trigger">
                  <h3>DateCreation 🥳</h3>
                  <p>Enter DateCreation.</p>
                  <img src="assets/images/pages/CreationDate.jpg" alt="illustration" height="218">
                    <input type="date" name="dateCreation" class="new-todo-item-title form-control"
                    required [(ngModel)]="project.dateCreation" required />
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary btn-prev waves-effect waves-float waves-light" (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                      (click)="next()">
                      <span class="align-middle d-sm-inline-block d-none">Next</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div id="deadline" class="content text-center">
                <div id="create-app-deadline" class="content text-center dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-submit-trigger">
                  <h3>DeadLine 🥳</h3>
                  <p>Enter DeadLine</p>
                  <img src="assets/images/pages/Deadline.jpg" alt="illustration" height="218">
                  <input type="date" name="deadline" class="new-todo-item-title form-control"
                  required [(ngModel)]="project.Deadline" required />
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary btn-prev waves-effect waves-float waves-light" (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                      (click)="next()">
                      <span class="align-middle d-sm-inline-block d-none">Next</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div id="Etat" class="content text-center">
                <div id="create-app-Etat" class="content text-center dstepper-block active" role="tabpanel"
                  aria-labelledby="create-app-submit-trigger">
                  <h3>Etat 🥳</h3>
                  <p>Enter Etat Project.</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppFirebase" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-warning me-1">
                          <i class ="fa fa-user-plus"></i>
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">Affecté</span>
                          </span>
                          <span>
                            <input class="form-check-input"  type="radio" name="databaseRadio" [(ngModel)]="project.etats">
                          </span>
                        </span>
                      </label>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppFirebase" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-danger me-1">
                          <i class ="fa fa-star"></i>
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">Créé</span>
                          </span>
                          <span>
                            <input class="form-check-input" type="radio" name="databaseRadio" [(ngModel)]="project.etats">
                          </span>
                        </span>
                      </label>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppDynamoDB" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-secondary me-1">
                          <i class ="fa fa-refresh"></i>
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">En Cours</span>
                          </span>
                          <span>
                            <input class="form-check-input"  type="radio" name="databaseRadio"[(ngModel)]="project.etats"
                              checked="">
                          </span>
                        </span>
                      </label>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <label for="createAppMysql" class="d-flex cursor-pointer">
                        <span class="avatar avatar-tag bg-light-info me-1">
                          <i class ="fa fa-check"></i>
                        </span>
                        <span class="d-flex align-items-center justify-content-between flex-grow-1">
                          <span class="me-1">
                            <span class="h5 d-block fw-bolder">Terminé</span>
                          </span>
                          <span>
                            <input class="form-check-input"  type="radio" name="databaseRadio" [(ngModel)]="project.etats">
                          </span>
                        </span>
                      </label>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary btn-prev waves-effect waves-float waves-light" (click)="previous()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left align-middle me-sm-25 me-0">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      <span class="align-middle d-sm-inline-block d-none">Previous</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-next waves-effect waves-float waves-light"
                      (click)="next()">
                      <span class="align-middle d-sm-inline-block d-none">Next</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right align-middle ms-sm-25 ms-0">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

  </div>