<div class="slideout-content">
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form [formGroup]="registerForm" class="add-new-user modal-content pt-0" >
            <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-client-sidebar')"
          >
            ×
          </button>
          <div class="modal-header mb-1">
            <h6 class="modal-title" id="exampleModalLabel">New client</h6>
          </div>
          <div class="modal-body flex-grow-1">
               <!-- <div class="form-group">
                    <label>Full name</label>
                    <input type="text" formControlName="firstName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="E-build"/>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">This field is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="E-build@gmail.com"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">This field is required!</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>-->

                <div class="form-group">
                    <label for="clientName">Full name</label>
                    <input type="text" #clientName formControlName="fullName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" placeholder="E-build" />
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                        <div *ngIf="f.fullName.errors.required">This field is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="clientEmail">Email</label>
                    <input type="text" #clientEmail formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="E-build@gmail.com"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">This field is required!</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="clientNumber">Phone number</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">+ 216 </span>
                      
                    <input type="number" formControlName="number"  #clientNumber
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" 
                    placeholder="Enter your phone number"/></div>
                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                        <div *ngIf="f.number.errors.required">This field is required!</div>
                        <div *ngIf="f.number.errors.minlength">Phone number must be composed of 8 digits</div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="clientAdresse">Address</label>
                    <textarea
                    type="text" 
                    #clientAdresse 
                    formControlName="adresse" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }"
                    cols="2"
                    rows="2"
                    placeholder="1307 Lady Bug Drive New York"
                  ></textarea>
                  <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                    <div *ngIf="f.adresse.errors.required">This field is required!</div>
                </div>
                </div>
               
                <div class="form-group">
                    <label for="clientRS">Social reason</label>
                    <input type="text" #clientRS formControlName="RS" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.RS.errors }" placeholder=""/>
                    <div *ngIf="submitted && f.RS.errors" class="invalid-feedback">
                        <div *ngIf="f.RS.errors.required">This field is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="RNE">RNE</label>
                    <input type="number" #RNE formControlName="RNE" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.RNE.errors }" placeholder=""/>
                    <div *ngIf="submitted && f.RNE.errors" class="invalid-feedback">
                        <div *ngIf="f.RNE.errors.required">This field is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <fieldset>
                    <label for="personnePhysique">Physical person
                    </label>
                  <div  *ngFor="let p of persPhys">
                        <input type="radio" name="personnePhysique" #personnePhysique formControlName="personnePhysique" value="{{p}}"  [ngClass]="{ 'is-invalid': submitted && f.personnePhysique.errors }" (change)="radioChangeHandler($event)">&nbsp;&nbsp;
                        <i>{{p}}</i>
                      </div>   
                    <!--  <div>
                        <input id="male" type="radio" value="male" name="personnePhysique" formControlName="personnePhysique" (change)="changeGender($event)">
                        <label for="male">Male</label>
                     </div>
             
                     <div>
                        <input id="female" type="radio" value="female" name="personnePhysique" formControlName="personnePhysique" (change)="changeGender($event)">
                        <label for="female">Female</label>
                     </div>      -->        
                </fieldset>
                <div *ngIf="submitted && f.personnePhysique.errors" class="invalid-feedback">
                    <div *ngIf="f.personnePhysique.errors.required">This field is required!</div>
                </div>
                </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="add(clientName.value,clientEmail.value,clientNumber.value,clientAdresse.value,clientRS.value,RNE.value);clientName.value='';clientEmail.value='';clientNumber.value='';clientAdresse.value='';clientRS.value='';RNE.value=''" >Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
