<!-- Main Sidebar -->
<div class="main-sidebar sidebar">
  <div class="sidebar-content todo-sidebar">
    <div class="todo-app-menu" [perfectScrollbar]>
      <div class="add-task">
        <button type="button" class="btn btn-primary btn-block"
          (click)="createNewTodo('todo-sidebar-right', 'todo-sidebar-main')" rippleEffect>
          Add Task
        </button>
      </div>
      <div class="sidebar-menu-list ps">
        <div class="list-group list-group-filters">
          <a href="#" class="list-group-item list-group-item-action active">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-mail font-medium-3 me-50">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <span class="align-middle">&nbsp;My Task</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-star font-medium-3 me-50">
              <polygon
                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
              </polygon>
            </svg> <span class="align-middle">&nbsp;Important</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-check font-medium-3 me-50">
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg> <span class="align-middle">&nbsp;Completed</span>
          </a>
         
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Main Sidebar -->