.custom-switch .custom-control-label::before {
    border: none;
    background-color: #da1226;
    height: 1.7rem;
    box-shadow: none !important;
    transition: opacity 0.25s ease, background-color 0.1s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
  }
  .todo-title-primary:hover {
    color: #da1226;
  }