<div class="modal-dialog sidebar-lg">
    <div class="modal-content p-0">
        <ul class="nav nav-tabs tabs-line">
            <li class="nav-item" (click)="showSousTaches()">
                <a class="nav-link nav-link-update active" data-bs-toggle="tab" id="TS">
                    
                    <i class="fa fa-list"></i>
                    <span class="align-middle">Sous-Taches</span>
                </a>
            </li>
            <li class="nav-item" (click)="showAjouter()">
                <a class="nav-link nav-link-activity" data-bs-toggle="tab" id="TA">
                    <i class="fa fa-plus"></i>
                    <span class="align-middle">Ajouter</span>
                </a>
            </li>
            <div></div>
        </ul> 
        <section  id="soustaches">
            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                <div class="action-tags">
                    <div class="d-flex align-items-start mb-1">
                        <div class="avatar bg-light-success my-0 ms-0 me-50">
                            <span class="avatar-content">HJ</span>
                        </div>
                        <div class="more-info">
                            <p class="mb-0"><span class="fw-bold"> Sous Tache 1</span></p>
                            <small class="text-muted">list des affecté</small>
                        </div>
                        <div class="col-7 col-md-7 col-sm-2"></div>
                        <div class="avatar bg-light-info my-0 ms-0 me-50">
                            <span class="avatar-content"><i class="fa fa-plus"></i><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="AjouterSousTache">
            <form
            class="todo-modal needs-validation" 
            >
            <div class="modal-body flex-grow-1 pb-sm-0 pb-3" >
                <div class="action-tags">
                  <div class="form-group">
                <label for="titresoustache" class="form-label">Titre Sous-Tache</label>
                <div class="form-group">
                    <input id="titresoustache" name="titre" class="new-todo-item-title form-control"
                        [(ngModel)]="commentaire.title" required />
                </div>
                <div class="form-group">
                    <textarea id="commentaire" name="commentaire" class="new-todo-item-title form-control"
                        [(ngModel)]="commentaire.title" required rows="1" placeholder="Ajouter Details..."></textarea>
                </div>
                <div class="form-group my-1">
                    <button class="btn btn-outline-danger add-todo-item" type="button" (click)="closeSidebar()"
                        data-dismiss="modal" rippleEffect>
                        
          <i class="fa fa-plus"></i>
                        Ajouter Detailles
                    </button>
                </div>
            </div>
            </div>
            </div>
            </form>  
        </section>
            <!-- Commentaire-->
  
    </div>
</div>