<div class="slideout-content">
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form [formGroup]="registerForm" class="add-new-user modal-content pt-0" (ngSubmit)="add()">
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        (click)="toggleSidebar('new-team-sidebar')"
                >
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">new team</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="form-group">
                        <label>Pseudo</label>
                        <input type="text" formControlName="pseudo"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pseudo.errors }" placeholder="E-build pseudo"/>
                        <div *ngIf="submitted && f.pseudo.errors" class="invalid-feedback">
                            <div *ngIf="f.pseudo.errors.required">This field is required!</div>
                        </div>
                    </div>


                    <!--  <div class="form-group">
                          <label>Code Team</label>
                          <input type="number" formControlName="codeTeam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codeTeam.errors }" placeholder="* * * * *"/>
                          <div *ngIf="submitted && f.codeTeam.errors" class="invalid-feedback">
                              <div *ngIf="f.codeTeam.errors.required">This field is required!</div>
                              <div *ngIf="f.codeteam.errors.minlength">Code Team  must be composed of 5 digits</div>
                          </div>
                      </div>-->

                    <div class="form-group">
                        <ng-select
                                [items]="selectMulti | async"
                                [multiple]="true"
                                [closeOnSelect]="false"
                                [searchable]="false"
                                bindLabel="name"
                                placeholder="Select personnel"
                                [(ngModel)]="selectMultiSelected"
                        >
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                <span class="ng-value-label"> {{ item.name }}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </ng-template>
                        </ng-select>

                        <!--/ Basic Multi select -->


                    </div>






                    <div class="text-center">

                        <button class="btn btn-primary mr-1" (click)="add()" >Register</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>